<h1> For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like. Note that some of the questions are intentionally phrased in a vague way. It is your job to reword these as more precise questions that could be tested.</h1

## 1.Has the network latency gone up since we switched internet service providers?

#### Null Hypothesis: Network latency has remained the same since switching internet service providers.
#### Alternative Hypothisis: Network Latency has signigicant diffrences  since switching internet service providers.

#### True positive: Reject null Hypothesis
#### True negative: Accept Null Hypothesis
#### Type 1 : Reject the null hypothesis when the null hypothesis is true.
#### Type 2 : Accept the alternative when hypothesis is false.

## 2. Is the website redesign any good?

#### Null Hypothesis: The website design is the same as to was previously.
#### Alternative Hypothesis: The redesign has been significantly diffrent then the original.

#### True positive: Reject null Hypothesis
#### True negative: Accept Null Hypothesis
#### Type 1 : Reject the null hypothesis when the null hypothesis is true.
#### Type 2 : Accept the alternative when hypothesis is false.

## 3.Is our television ad driving more sales?

#### Null Hypothesis: our sales have remained the same , regardless of our Television ad
#### Althernative Hypothesis: Our sales have seen a dramatic change due to our Television Ad

#### True positive: Reject null Hypothesis
#### True negative: Accept Null Hypothesis
#### Type 1 : Reject the null hypothesis when the null hypothesis is true.
#### Type 2 : Accept the alternative when hypothesis is false.

## Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices.
### A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. 
### A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [130]:
import math as m
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt

office_1_mean = 90
office_1_std = 15
office_1_shape = 40

office_2_mean = 100
office_2_std = 20
office_2_shape = 50


alpha = 0.05

In [131]:
degf = office_1_shape + office_2_shape - 2

In [132]:
s_p = m.sqrt(((office_1_shape - 1) * office_1_std**2 + (office_2_shape - 1) * office_2_std**2) / (degf))
s_p

17.956702977389302

In [133]:
t = (office_1_mean - office_2_mean) / (s_p * m.sqrt(1/office_1_shape + 1/office_2_shape))
t

-2.6252287036468456

In [134]:
#solve using ttest from stats
s = stats.ttest_ind_from_stats(office_1_mean, office_1_std, office_1_shape,office_2_mean, office_2_std, office_2_shape, equal_var = False)
s

Ttest_indResult(statistic=-2.7091418459143854, pvalue=0.00811206270346016)

In [135]:
(s.statistic != 0 and s.pvalue < alpha)

True

#### There is a difference in avg time it takes to sell a home for both offices

### Load the mpg dataset and use it to answer the following questions:
### Is there a difference in fuel-efficiency in cars from 2008 vs 1999?
### Are compact cars more fuel-efficient than the average car?
### Do manual cars get better gas mileage than automatic cars?

In [136]:
from pydataset import data

In [137]:
mpg = data('mpg')

In [138]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [139]:
mpg["avg_mpg"] = stats.hmean(mpg[['cty','hwy']], axis=1)

In [140]:
fe_1999 = mpg[mpg["year"] == 1999].avg_mpg
fe_2008 = mpg[mpg["year"] == 2008].avg_mpg

In [141]:
fe_1999.var(), fe_2008.var()

(25.850396545865912, 22.550836772260343)

In [142]:
alpha = 0.05
t, p = stats.ttest_ind(fe_1999,fe_2008, equal_var=False)

In [143]:
t, p, alpha

(0.3011962975077886, 0.7635358418225436, 0.05)

In [144]:
#There is a differnce in fuel effeciency for 1999 and 2008 cars, we reject our null hypothesis

In [145]:
compact_car = mpg[(mpg['class'] == 'compact')].avg_mpg
overall_avg = mpg.avg_mpg.mean()

In [146]:
t, p= stats.ttest_1samp(compact_car, overall_avg)

In [147]:
t, p/2 , alpha

(7.512360093161354, 7.808833174403864e-10, 0.05)

In [148]:
#compact cars are more fuel effeciant than the overall avg, we reject our null hypothesis

In [152]:
mpg["is_auto"] = mpg.trans.str.contains('auto')

In [154]:
fe_man = mpg[mpg["is_auto"] == True].avg_mpg
fe_auto = mpg[mpg["is_auto"] == False].avg_mpg

In [155]:
fe_man.var(), fe_auto.var()

(20.428279095002054, 25.665633639828275)

In [159]:
t, p = stats.ttest_ind(fe_man,fe_auto, equal_var=False)

In [160]:
t,p/2,alpha

(-4.47444321386703, 7.99035135103976e-06, 0.05)

In [161]:
#manual cars do not get better fuel effeciancy than automatics , we reject teh null hypothesis